body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
#home{
    background-image: url('https://images.unsplash.com/photo-1509912760195-4f6cfd8cce2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FzaGV3JTIwbnV0fGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    opacity: 0.8;
    height: 100%;
}
#menu{
    background-image: url('http://masrico.in/img/landing-2.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://ibb.co/KWp3MgD");
  min-height: 90%;
}
